body{
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,12,36,1) 38%, rgb(25, 25, 26) 71%);
}

.top{
    color: white;
    margin-top: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
}

.input-letters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.input-letter{
    padding: 5pt;
    margin: 5pt;
    width: 50pt;
    height: 30pt;
}

